<div class="buttons">
  <div class="buttons__container">
    <div class="buttons__container__button">
      <button mat-raised-button class="buttons__container__button__item">
        <i class="fa fa-phone buttons__container__button__item__icon"></i>
        <span>07 87 23 06 11</span>
      </button>
    </div>

    <div class="buttons__container__button">
      <button mat-raised-button class="buttons__container__button__item">
        <i class="fa fa-envelope buttons__container__button__item__icon"></i>
        <span>{{ "arno.peyronon@gmail.com" }}</span>
      </button>
    </div>
    <div class="buttons__container__button">
      <button mat-raised-button class="buttons__container__button__item">
        <i
          class="fa fa-location-dot buttons__container__button__item__icon"
        ></i>
        <span>4 bis rue mirabeau la talaudiere</span>
      </button>
    </div>
  </div>
</div>
